<div class="confirmationModal" id="confirmationPopup">
    <div class="modal-header sl-relative">
        <button ng-click="CMC.cancel()"  class="z-depth-1 x-modal-close-btn" data-dismiss="modal" href="">+</button>
        <h4 class="modal-title text-left">{{ CMC.title  }}</h4>
    </div>
    <div class="modal-body">
        {{CMC.message}}
    </div>
    <div class="modal-footer">

        <div class="left">
            <button ng-if="CMC.show_cancel===true" class="btn btn-danger" ng-click="CMC.cancel()">{{ CMC.cancel_text }}</button>
        </div>

        <div class="right">
            <button class="btn btn-danger" ng-click="CMC.rejectSelection()">{{ CMC.no_text }}</button>
            <button class="btn x-btn" ng-click="CMC.confirmSelection()">{{CMC.yes_text}}</button>
        </div>
    </div>
</div>